.App {
  background-color: #414650;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

.footer {
  text-align: center;
}
